.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modal-background;

  overflow-y: scroll;

  transition: opacity $transit-time $transit-function;

  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}
