.footer {
  padding: 60px 0;
  background-color: $background-hero;

  @media screen and (min-width: 1200px) {
    .container {
      display: flex;
      align-items: baseline;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .tablet-position {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .tablet-position {
    display: flex;
    align-items: baseline;
  }
}
