@media screen and (max-width: 1199px) {
  .section--works {
    display: none;
  }
}
.works {
  @extend %list;
  &__img {
    @extend %img;
  }
}
@media screen and (min-width: 1200px) {
  .section--works {
    padding-top: 0;
  }

  .works {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    &__item {
      position: relative;
    }

    &__label {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;

      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $background;
      background: rgba(47, 48, 58, 0.8);
    }
  }
}
