$background: #ffffff;
$background-hero: #2f303a;
$background-section: #f5f4fa;
$decorative-color: #2196f3;
$sub-decorative-color: rgba(33, 150, 243, 0.9);
$btn-hover: #188ce8;
$title: #212121;
$text: #757575;
$btns: #f5f4fa;
$border-header: #ececec;
$portfolio-border: #eeeeee;
$clients-border: #afb1b8;
$socials-background: rgba(255, 255, 255, 0.1);
$modal-background: rgba(0, 0, 0, 0.2);
$transit-function: cubic-bezier(0.4, 0, 0.2, 1);
$transit-time: 250ms;
