.team {
  @extend %list;

  @media screen and (max-width: 767px) {
    .team__item {
      margin-bottom: 30px;
    }
  }

  &__item {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__thumb {
    @extend %img;
    margin-bottom: 30px;

    @media screen and (max-width: 767px) {
      max-width: 450px;
      width: 100%;

      img {
        max-width: 459px;
        width: 100%;
        height: auto;
      }
    }
  }

  &__name {
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title;
  }
  &__position {
    margin: 0 0 16px 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $text;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    display: flex;
    gap: 30px;
    @media screen and (max-width: 1199px) {
      flex-wrap: wrap;

      &__item {
        flex-basis: calc(100% - 30px) / 2;
      }
    }

    &__thumb {
      max-width: 354px;
      width: 100%;

      img {
        max-width: 354px;
        width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    &__thumb {
      max-width: 270px;
      width: 100%;

      img {
        max-width: 270px;
        width: 100%;
        height: auto;
      }
    }
  }
}
.team-socials {
  @extend %list;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 44px;
    height: 44px;
    background-color: $background;
    color: $clients-border;
    border-radius: 50%;

    transition: background-color $transit-time $transit-function,
      color $transit-time $transit-function;
  }
  &__link:hover,
  &__link:focus {
    background-color: $decorative-color;
    color: $background;
  }
  &__icon {
    fill: currentColor;
  }
}
